---
import HotelSantaCruz from "../assets/HotelSantaCruz.png";

// Supports weights 100-900
import "@fontsource-variable/noto-sans-jp";
import "@fontsource-variable/ibm-plex-sans";

// importar imagenes del footer
import ImgFooterFacebook from "../assets/Footer/facebook.png";
---

<footer>
    <img
        class="FooterFacebook"
        src={ImgFooterFacebook.src}
        alt="Imagen lofo de Facebook en el footer"
    />

    <div class="footer-content">
        <nav>
            <ul>
                <li><a href="/" id="home">HOME</a></li>
                <li><a href="/Habitaciones">HABITACIONES</a></li>
                <li><a href="/tehuantepec">TEHUANTEPEC</a></li>
                <li><a href="/contacto">CONTACTO</a></li>

                <a href="/contacto" class="reservacion">RESERVACIONES</a>
            </ul>
        </nav>
    </div>
<center>
    <div class="footer-contact">
        +52 971 132 2818<br />
        WhatsApp +52 971 132 2818 <br />
        info@hotelsantacruztehuantepec.com <br />
    </div>
    </center>
    <center>
        <img
            class="HotelSantaCruz"
            src={HotelSantaCruz.src}
            alt="Logo Hotel Santa Cruz Tehuantepec"
        />
    </center>
</footer>

<style>
    footer {
        position: relative;
        width: 100%;
        height: 500px;
        background: linear-gradient(10deg, rgb(6, 20, 58), rgb(23, 59, 158));
        display: flex;
    }

    .HotelSantaCruz {
        position: absolute;
        margin: auto;
        top: 80%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .footer-content {
        position: absolute;
        color: white;
        background-color: transparent;
        width: 700px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -40px;
    }

    .footer-content li,
    a,
    ul {
        color: rgba(255, 255, 255, 0.877);
        text-decoration: none;
        list-style: none;
        font-size: 13px;
        font-weight: 600;
        font-family: "IBM Plex Sans Variable", sans-serif;
        display: inline-block;
        margin: 5px;
    }
    .reservacion {
        background-color: rgb(236, 61, 163);
        padding: 10px 20px;
        color: white;
    }

    hr {
        position: absolute;
        width: 90%;
        height: 2px;
        background-color: white;
        margin: 0px 65px;
        top: 90px;
    }

    .footer-contact {
        position: absolute;
        display: flex;
        width: 200px;
        height: 300px;
        color: rgba(255, 255, 255, 0.877);
        left: 70%;
        top: 18%;
        font-weight: 500;
        font-family: "IBM Plex Sans Variable", sans-serif;
        font-size: 17px;
    }

    .FooterFacebook {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 94%;
        top: 20px;
        transform: translate(0%, 0%);
    }

    .footer-contact{
        text-align: left;
    }

    @media (max-width: 768px) {
        footer {
            height: 100%;
        }
        .footer-content {
            width: 100%;
            top: 0px;
        }

        .HotelSantaCruz {
            width: 200px;
        }
        hr {
            position: absolute;
            width: 90%;
            height: 2px;
            background-color: white;
            margin: 0px 20px;
            top: 90px;
        }

        .footer-contact {
            top: 50%;
            left: 5%;
            text-align: left;
            
            margin: auto;
        }
        .footer-contact {
            background-color: transparent;
            width: 90%;
            height: 100px;
        }
        .FooterFacebook {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 90%;
            top: 20px;
            transform: translate(-50%, 0%);
        }
    }
</style>
