
<!-- Informacion apartado de metya datos de la pagina -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Hotel Santa Cruz Tehuantepec</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

/*Estilos de colores usados dentro de la pagina*/


:root {
	/*Color usado naturalmente en la pagina (uso en el fondo de los dic)*/
	--color-de-fondo-de-elemntos-tipo-1--: rgb(255, 216, 200);
	/*Color usado en la pagina para fondos secundarios*/
	--color-de-fondo-de-elemntos-tipo-2--:  rgba(255, 255, 255, 0.5);

	/*Color de texto principal de la pagina*/
	--color-de-texto-tipo-1--: rgb(80, 67, 63);

	--color-de-texto-tipo-2--: rgb(95, 86, 76);
}




</style>
